<div class="mainPage">
    <form name="commentForm" class="content-card" novalidate ng-submit="pageCtrl.postComment()">
        <input type="email" class="input-email" placeholder="Email" required
               ng-model="modelComment.email" >

        <textarea class="input-massage" placeholder="Massage" required
                  ng-model="modelComment.message"></textarea>

        <button class="main submit" >Submit</button>
    </form>
    <div class="comments-card">
        <input-filter >
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="text"
                   placeholder="Filter"
                   ng-model="textFilter"
                   ng-change="pageCtrl.getComments()">
        </input-filter>

        <div class="comments">

            <div class="comment" ng-repeat="comment in comments">
                <img class="comment-avatar" ng-src="https://www.gravatar.com/avatar/{{comment.hash}}" >
                <div class="comment-email" ng-bind="comment.email"></div>
                <div class="comment-message" ng-bind="comment.message"></div>
            </div>

        </div>
    </div>
</div>
