@import "../../core/variables";

.mainPage{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-card,.comments-card{
  padding: 1em; /*20px*/;
  display: flex;
  flex-direction: column;
  align-content:stretch;
  max-width: 20rem;
}
.content-card{

  background: #EFEFEF;
  height: 8rem;

  input.input-email{
    margin-bottom: 1em;
  }
  textarea.input-massage{
    margin-bottom: 0.5em;
  }
  button.submit{
    align-self: flex-end;
    width: 4em;
  }
}

.comments-card{
  background-color: #fff;
  flex:1;

  .comments{
    min-height: 20rem;
    overflow: auto;
  }
  .comment{
    //display: flex;
    clear: both;
    line-height: $base-line-height ;
    font-size: $base-font-size - 4px;


    img{
      float: left;
      width: 3rem;
      height: 3rem;
      margin: 0.4rem;
      border-radius: 0.4rem;
    }

    .comment-email{
      padding-top: 4px;
      font-weight: bold;
    }
  }
}

